<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title></title>
</head>

<body>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <div class="kiosk_simulation">

        <div class="kiosk_mega_backdround">

            <div class="kiosc_mega_screen">


                <!-- <div id="mega_start_img">
                    <button id="mega_start_btn" onclick="start_btn()"></button>
                </div> -->


                <div id="mega_order" style="display: block;">
                    <div id="top_bar">
                        <div id="mega_top_bar_home" onclick="herf_home()"></div>
                        <div id="mega_top_bar_name"></div>
                        <div id="mega_top_bar_lang"></div>
                    </div>

                    <div id="mega_menu_bar">
                        <div id="menu_bar_left" onclick="turn_menu_page(this.id)">&#60;</div>
                     
                        <div class="mega_menu_1" title="커피_HOT" onclick="open_menu_table(this.title)">숙박</div>
                        <div class="mega_menu_1" title="커피_ICE" onclick="open_menu_table(this.title)">대실</div>



        
                        <div id="menu_bar_right" onclick="turn_menu_page(this.id)">></div>
                    </div>
                </div>


                <div id="mega_menu_table" style="display: block;">
                    {% block content %}{% endblock %}
                    <div id="right_btn">></div>
                    <div id="left_btn">&#60;</div>


                </div>

                <div id="pay" style="display: flex;">

                    <div id="order_list_right">
                        <div id="pay_right">
                            <div id="rest_time">남은시간<br>초</div>
                            <!-- <div id="delete_all" onclick="전체삭제()"></div> -->
                        </div>
                        <div id="item_number">_________________________<br>선택한 상품 </div>
                        <div id="pay_btn">
                            <div id="card_img"></div>
                            <div id="total_price" onclick="open_window_pay()">0원<br>결제하기</div>
                        </div>
                    </div>
                </div>


    
                <div id="insert_card_moving" onclick="결제완료()"></div>

                <div id="screen_to_window_pay"></div>

                <div id="window_pay">
                    <div id="window_top">
                        <div>주문 세부내역을 다시 한번 확인하여 주세요</div>
                        <div onclick="close_window_pay()">X</div>
                    </div>
                    <div id="window_order_list">
                        <div id="window_1">
                            <div id="w_order_1"></div>
                            <div id="w_number_1"></div>
                        </div>
                        <div id="window_2">
                            <div id="w_order_2"></div>
                            <div id="w_number_2"></div>
                        </div>
                        <div id="window_3">
                            <div id="w_order_3"></div>
                            <div id="w_number_3"></div>
                        </div>
                        <div id="window_4">
                            <div id="w_order_4"></div>
                            <div id="w_number_4"></div>
                        </div>
                        <div id="window_5">
                            <div id="w_order_5"></div>
                            <div id="w_number_5"></div>
                        </div>
                        <div id="window_6">
                            <div id="w_order_6"></div>
                            <div id="w_number_6"></div>
                        </div>
                        <div id="window_7">
                            <div id="w_order_7"></div>
                            <div id="w_number_7"></div>
                        </div>

                    </div>
                    <div id="window_num_price">
                        <div id="window_num">
                            <div>총 수량 &nbsp;</div>
                            <div id="w_total_number" class="ex_css"></div>
                            <div>개</div>
                        </div>
                        <div id="window_price">
                            <div>총 결제금액 &nbsp;</div>
                            <div id="w_total_price" class="ex_css">sd</div>
                            <div>원</div>
                        </div>
                    </div>
                    <div id="window_bottom">
                        <div id="돌아가기" onclick="close_window_pay()">←<br>돌아가기</div>
                        <div id="먹고가기" onclick="change_window_btn()"><br>먹고가기</div>
                        <div id="가져가기" onclick="change_window_btn()"><br>가져가기</div>

                        <div id="돌아가기_2" onclick="back_2_window_btn()">←<br>돌아가기</div>
                        <div id="쿠폰사용">
                            <div id="coupon"></div>
                            <div><br>쿠폰사용</div>
                        </div>
                        <div id="페이코">PAYCO<br>페이코</div>
                        <div id="카드결제" onclick="open_w_카드결제()"><br>카드결제</div>

                    </div>

                </div>

                <div id="포인트적립"> </div>

                <div id="w_카드결제">
                    <div id="w_카드결제_top">
                        <div>카드 결제</div>
                        <div onclick="close_w_카드결제()">X</div>
                    </div>
                    <div id="w_block">
                        <div>다음 그림과 같이 신용/체크카드를 넣어주세요</div>
                        <div id="insert_card_w"></div>
                    </div>
                    <div id="w_list">
                        <div id="w_list_1">
                            <div>총 결제금액</div>
                            <div id="w_카드결제_total_price">sd</div>
                        </div>
                        <div>
                            <div>할부개월</div>
                            <div >일시불</div>
                        </div>
                        <div id="w_list_1">
                            <div>카드번호</div>
                            <div></div>
                        </div>
                    </div>
                    <div id="w_bottom">
                        <div id="취소" onclick="close_w_카드결제()">취소</div>
                        <div id="승인요청" onclick="결제완료()">승인요청</div>
                    </div>
                
                    <div id="payment_complete_screen">
                        <div class="popup-content">
                            <h2>결제가 완료되었습니다!</h2>
                            <p>감사합니다. 결제가 완료되었습니다.카드를 챙겨가세요.</p>
                            <button onclick="redirect_to_home()">확인</button>
                        </div>
                    </div>
                
                    <!-- 카드결제 버튼 -->
                    <button onclick="open_w_카드결제()">카드결제</button>
                </div>

            </div>

        </div>



</body>

</html>
